/* bootstrap icon  */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

i {
    cursor: pointer;
}
/* navbar start */
nav>ul>li{
    cursor: pointer;
}

/* main comment input */

#comment-input:focus{
    outline: none;
    border-bottom: 1px solid gray !important;
}